.app-content {
  padding: 20px;
}

.app-logo {
  text-align: center;
  animation: app-logo-spin infinite 20s linear;
  height: 50px;
}

.app-header {
  text-align: center;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
